<div class="modal fade" id="leisure-modal">
<div class="modal-dialog">
  <div class="modal-content">
    <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">WARNING: LEISURE MODE IS ACTIVE</span></button>
      <h4 class="modal-title">WARNING: LEISURE MODE IS ACTIVE</h4>
    </div>
    <div class="modal-body">
      <%= getNoteHTML("dashboard_leisure", "dashboard_leisure", false, false) %>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
    </div>
  </div><!-- /.modal-content -->
</div><!-- /.modal-dialog -->
</div><!-- /.modal -->

