<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @premade_task.name %>
</p>

<%= link_to 'Edit', edit_premade_task_path(@premade_task) %> |
<%= link_to 'Back', premade_tasks_path %>
